.personalControllers {
  display: flex;
  align-items: center;
  width: 75px;
  justify-content: space-between;
  @media (max-width: 768px) {
    width: 63px;
  }

  button {
    svg path {
      transition: all .3s;
    }
  }

  a {
    svg path {
      transition: all .3s;
    }
  }
}