.historyPageContent {
    p {
        margin-bottom: 22px;
    }
}


.image {
    margin: 0 0 28px;
    padding-top: 15px;

    figcaption {
        margin-bottom: 30px;
        padding-top: 3px;
        color: #9D9D9D;

        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
    }
}