.eventsList {
  margin-bottom: 20px;
  form {
    margin-bottom: 30px;
  }
  li {
    padding: 0;
    background: none;
    h5 {
      max-width: 780px;
      @media (max-width: 1280px) {
        white-space: initial;
      }
    }
  }
}

