.videoCard {
  color: #000000;
}

.videoThumbWrapper {
  border-radius: 10px;
  height: 160px;
  margin-bottom: 7px;
  width: 100%;
  position: relative;
  @media (max-width: 768px) {
    border-radius: 5px;
  }

  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      border-radius: 5px;
    }
  }
}

.videoDuration, .videoDate {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.videoDuration {
  left: 10px;
  padding: 2px 10px 2px 25px;
  border-radius: 50px;
  background: #DD0A15 url('data:image/svg+xml,<svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.20419 4.61486L0 0V9.22971L8.20419 4.61486Z" fill="white"/></svg>') no-repeat left 10px top 50%;
}

.videoDate {
  background: #DD0A15;
  border-radius: 5px;
  right: 10px;
  padding: 1px 13px;
}