.objCard {
  width: 415px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    width: 280px;
  }
  &:hover {
    .objTop, .objInfo {
      background: #DD0A15;
    }
    .objInfo {
      color: #ffffff;
    }
    .objAddress {
      &::before {
        background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.668842 8.65629L8.10008 9.22878L8.68433 16.4635C8.74293 17.192 9.75909 17.366 10.0694 16.7005L17.3276 1.1144C17.5865 0.558757 17 -0.0131911 16.4292 0.239075L0.426658 7.30742C-0.256366 7.60916 -0.0783557 8.5992 0.6694 8.65683L0.668842 8.65629Z" fill="%23D5D5D5"/></svg>') no-repeat;
      }
    }
  }
}

.objTop {
  height: 415px;
  background: #D9D9D9;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  transition: all .3s;
  @media (max-width: 768px) {
    height: 280px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.objInfo {
  color: #000000;
  padding: 23px 20px 35px;
  border-radius: 0 0 5px 5px;
  background: #FFFFFF;
  transition: all .3s;
  h6 {
    font-size: 25px;
    margin-bottom: 22px;
    font-weight: 400;
    line-height: 1.2;
  }
}
.objAddress {
  padding-left: 30px;
  font-size: 15px;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.2;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.668842 8.65629L8.10008 9.22878L8.68433 16.4635C8.74293 17.192 9.75909 17.366 10.0694 16.7005L17.3276 1.1144C17.5865 0.558757 17 -0.0131911 16.4292 0.239075L0.426658 7.30742C-0.256366 7.60916 -0.0783557 8.5992 0.6694 8.65683L0.668842 8.65629Z" fill="%23DD0A15"/></svg>') no-repeat;
  }
}

.objDesc {
  font-size: 18px;
  line-height: 1.18;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  max-height: 65px;
  height: 65px;
}
