.monthSlide {
  p {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 1.1;
    padding-top: 4px;
    background: #F2F5F8;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }
}

._disableSlide {
  cursor: default;
  p {
    cursor: default;
    color: #8D8D8D
  }
}

._activeSlide {
  p {
    background-color: #DD0A15;
    color: #ffffff;
  }
}