@import "src/assets/styles/vars";

section.objectsSection {
  padding: 80px 0 68px;
}

.slideItem {
  p {
    line-height: 1.2;
    margin-top: 32px;
    color: #000000;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
  }
}



