.gridGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr) );
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;

  li {
    max-width: 180px;
    cursor: pointer;

    h6 {
      color: #9D9D9D;
      font-weight: 700;
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 2;
      max-height: 40px;
      height: 40px;
    }

    span {
      margin-top: 3px;
      color: #9D9D9D;
      font-size: 14px;
      display: block;
    }
  }
}

.gridImgWrapper {
  width: 100%;
  height: 120px;
  border: 7px solid #EBEEF2;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.imageGallery {
  :global {
    .image-gallery-content{
      background: rgba(#000, 0.5);
    }
  }
}

.customFsBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;

  &:hover {
    svg rect {
      stroke: #ffffff;
    }
  }
}

.fullscreenHidden {
  :global {
    .image-gallery-content {
      display: none;
    }
  }
}

.limitController {
  font-size: 16px;
  font-weight: 700;
  color: #015DB9;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 50px;
}