.gridGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(273px, 273px) );
  gap: 18px;
  justify-items: center;

  li {
    width: 100%;
    cursor: pointer;

    h6 {
      color: #9D9D9D;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.1;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 2;
      max-height: 35px;
      height: 35px;
      margin-top: 10px;
    }

    span {
      margin-top: 3px;
      color: #9D9D9D;
      font-size: 14px;
      display: block;
    }
  }
  @media (max-width: 425px) {
    display: none;
  }
}

.gridImgWrapper {
  width: 100%;
  height: 170px;
  border-radius: 5px;

  img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
}

.imageGallery {
  :global {
    .image-gallery-content{
      background: rgba(#000, 0.5);
    }
  }
  @media (max-width: 425px) {
    margin: 30px 0 50px 0;
  }
}

.customFsBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;

  &:hover {
    svg rect {
      stroke: #ffffff;
    }
  }
  @media (max-width: 425px) {
    display: none;
  }
}

.fullscreenHidden {
  :global {
    .image-gallery-content {
      display: none;
      @media (max-width: 425px) {
        display: block;
        border-radius: 5px;
      }
      .image-gallery-thumbnails {
        display: none;
      }
      .image-gallery-slides {
      border-radius: 5px;
      }
    }
  }
}

.limitController {
  font-size: 16px;
  font-weight: 400;
  color: #015DB9;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 50px;
}