.homePage {
  font-family: 'MADE Likes Slab', serif;
  h4 {
    color: #000;
    font-size: 50px;
    font-weight: 400;
  }
  p {
    font-family: 'MADE Likes Slab', serif;
  }
  :global {
    section._bordered {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 827px;
        height: 12px;
        left: 50%;
        transform: translateX(-50%);
        background: url('data:image/svg+xml,<svg width="827" height="12" viewBox="0 0 827 12" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="6.16602" x2="376.393" y2="6.16602" stroke="%23A8A8A8"/><line x1="450.27" y1="6.16602" x2="826.663" y2="6.16602" stroke="%23A8A8A8"/><circle cx="414" cy="6" r="6" fill="%23DD0A15"/></svg>') no-repeat;
        @media (max-width: 768px) {
          width: 237px;
          height: 7px;
          background: url('data:image/svg+xml,<svg width="237" height="7" viewBox="0 0 237 7" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="3.5" x2="100" y2="3.5" stroke="%23A8A8A8"/><line x1="137" y1="3.5" x2="237" y2="3.5" stroke="%23A8A8A8"/><circle cx="118.5" cy="3.5" r="3.5" fill="%23DD0A15"/></svg>') no-repeat;
        }
      }
    }
  }
}


