.homePage {
  h4 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  :global {
    section._bordered {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 620px;
        height: 9px;
        left: 50%;
        transform: translateX(-50%);
        background: url('data:image/svg+xml,<svg width="620" height="9" viewBox="0 0 620 9" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="4.5" x2="282.295" y2="4.5" stroke="%23A8A8A8"/><line x1="337.703" y1="4.5" x2="619.998" y2="4.5" stroke="%23A8A8A8"/><circle cx="310.5" cy="4.5" r="4.5" fill="%23DD0A15"/></svg>') no-repeat;
        @media (max-width: 768px) {
          width: 237px;
          height: 7px;
          background: url('data:image/svg+xml,<svg width="237" height="7" viewBox="0 0 237 7" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="3.5" x2="100" y2="3.5" stroke="%23A8A8A8"/><line x1="137" y1="3.5" x2="237" y2="3.5" stroke="%23A8A8A8"/><circle cx="118.5" cy="3.5" r="3.5" fill="%23DD0A15"/></svg>') no-repeat;
        }
      }
    }
  }
}


