.videosTitleBlock {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 25px;

  h2 {
    margin-bottom: 0;
    line-height: 1.2;
  }
}
select.newsDateSelect {
  padding: 6px 46px 6px 7px;
}

.videosPagination {
  margin-top: 50px;
}