.videosPage {
  h2 {
    margin-bottom: 28px;
  }
}

.videosList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
  gap: 30px 23px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    justify-content: center;
  }
  @media (max-width: 425px) {
    grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
  }
}

.videosAbsence {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 150px;
  font-size: 25px;
}