.asideNews {
  min-width: 203px;
  width: 203px;
  padding-top: 2px;
  @media (max-width: 768px) {
    min-width: auto;
    width: 100%;
    margin-bottom: 50px;

  }
  @media (max-width: 425px) {
    margin: 50px 0;
    padding: 0 15px;
  }


  h6 {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 17px;
    @media (max-width: 425px) {
      font-size: 35px;
    }
  }

  li {
    line-height: 1.1;

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    span {
      font-size: 14px;
      color: #9D9D9D;
      display: block;
      @media (max-width: 425px) {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }

    a {
      font-size: 14px;
      color: #015DB9;
      @media (max-width: 425px) {
        font-size: 18px;
        color: #DE0008;
      }
    }
  }

}