@import "src/assets/styles/vars";

.departmentsSectionWrapper {
  padding: 50px 0 62px;
}

.departmentsSection {
  position: relative;
}

div.departmentsContainer {
  @media (max-width: 1650px) {
    max-width: 1220px;
  }
  @media (max-width: 1024px) {
    padding: 0 15px;
  }
}

.departmentsSlider {
  position: relative;

  :global {
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.8);
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.3);
      }
      @media (max-width: 1024px) {
        transform: scale(1);
      }
    }
  }
}

.slideItem {
  border-radius: 5px;
  height: 412px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 47px;

  a {
    z-index: 10;
  }

  h5 {
    padding-top: 60px;
  }

  .slideItemImg {
    position: absolute;
    inset: 0;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

}

div.departmentsSliderBtns {
  @media (max-width: 1650px) {
    width: 95%;
  }
  @media (max-width: 1260px) {
    width: 73%;
  }
  @media (max-width: 1024px) {
    width: 96%;
  }
}

.departmentsSliderPagination {
  display: flex;
  gap: 25px;

  li {
    font-size: 15px;
  }
}

div.sliderThumbContainer {
  @media (max-width: 1024px) {
    padding: 0;
  }
}

.slideThumbItem {

  p {
    width: 100%;
    cursor: pointer;
    @media (max-width: 1280px) {
      display: flex;
      justify-content: center;
    }

    span {
      font-size: 15px;
      max-width: 170px;
      text-decoration: underline;
      text-align: center;
      display: block;
    }
  }
}

.departmentsThumbSlider {
  :global {
    .swiper-slide-thumb-active {
      p {
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}