@import "src/assets/styles/vars";

.eventsListWrapper {
  margin: 42px 0 27px;
}

.eventSearchForm {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 13px;
  flex-wrap: wrap;

  button {
    background: #015DB9;
    height: 30px;
    padding: 0 14px;
    text-transform: capitalize;
  }
}

.eventSearchInput {
  flex-grow: 1;
  min-width: 180px;
  input {
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    padding: 6px 10px 6px 26px;
    background: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.8" d="M11.7583 10.5934L9.32359 8.15873C9.935 7.31184 10.2958 6.27229 10.2958 5.14763C10.2958 2.30466 7.99112 0 5.14815 0C2.30518 0 0 2.30466 0 5.14815C0 7.99165 2.30466 10.2963 5.14815 10.2963C6.27229 10.2963 7.31236 9.93552 8.15925 9.32411L10.5939 11.7588C10.9155 12.0804 11.4371 12.0804 11.7588 11.7588C12.0804 11.4371 12.0804 10.9155 11.7588 10.5939L11.7583 10.5934ZM5.14763 8.67981C3.19697 8.67981 1.61545 7.09829 1.61545 5.14763C1.61545 3.19697 3.19697 1.61545 5.14815 1.61545C7.09933 1.61545 8.68033 3.19697 8.68033 5.14763C8.68033 7.09829 7.09881 8.67981 5.14815 8.67981H5.14763Z" fill="%23848484"/></svg>') no-repeat 9px 50%;

    &::placeholder {
      color: #848484;
    }
  }
}

.eventSearchSelect {
  min-width: 138px;
  width: 138px;

  :global(div.react-dropdown-select ) {
    min-height: 30px;
    border-color: #B8B8B8;
  }

}

.eventsList {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & > li {
    background: #F2F5F8;
    padding: 15px 20px 16px 17px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.eventElInfo {
  width: 113px;
  min-width: 113px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .eventLocation {
    font-size: 12px;
    display: inline-block;
    line-height: 1.2;
  }

  .brandInterval {
    font-size: 14px;
    padding: 0 8px;
    display: inline-block;
    background: #EBEEF2;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: center;
  }
  .eventBrandLocation {
    margin-top: auto;
    font-size: 14px;
    line-height: 1.1;
  }

  .brandInfoHeldRow {
    p {
      font-size: 14px;
    }
  }

  .brandInfoHeldTitle {
    font-size: 14px;
    font-weight: 400;
  }

  p {
    @include ptsans-bold;

    span {
      display: block;
    }
  }


  a {
    @include ptsans-bold;
    font-size: 16px;
    display: inline-block;
    padding: 5px 13px;
    color: #ffffff;
    background: #015DB9;
  }
}

.eventElInfoBrand {
  gap: 1px;
  width: 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.eventElContent {
  flex-grow: 1;

  .titleLink, h5 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 11px;
    white-space: nowrap;
    display: inline-block;
    line-height: 1.2;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 570px;
    @media (max-width: 768px) {
      white-space: initial;
    }
  }
}

.eventElOrganizers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 7px;

  a {
    font-size: 14px;
    color: #DE0008;
  }
}

.eventElDesc {
  font-size: 14px;
  margin-bottom: 12px;
  display: -webkit-box;
  line-height: 20px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  height: 42px;
}

.eventElImg {
  width: 132px;
  height: 132px;
  min-width: 132px;
  border: 7px solid #ffffff;

  img {
    width: 100%;
    height: 100%;
  }
}

.eventElBottom {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    li {
      @include ptsans-italic;
      font-size: 14px;
      color: #DE0008;
      line-height: 1;
    }
  }
}

.eventDesignation {
  margin-top: auto;
  text-transform: uppercase;
  font-size: 14px;
  @include ptsans-bold;
  color: #DE0008;
}