.cultureElem {
  padding: 17px 15px;
  background: #F2F5F8;
  &:not(:last-child) {
    margin-bottom: 11px;
  }
  h6 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 11px;
  }
  p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.37;
    @media (max-width: 768px) {
      line-height: 1.42;
    }
  }
  a {
    font-size: 16px;
    color: #DE0008;
  }
}