.teamsTable {
  grid-template-columns: minmax(40px, 0.2fr) minmax(280px, 2.5fr) minmax(80px, 0.6fr) minmax(105px, 1fr)  minmax(105px, 0.8fr) minmax(120px, 0.9fr);
  margin-bottom: 10px;

  td {
    min-height: 60px;
  }
  th:nth-child(4) {
    padding: 0 5px;
  }
}

.teamsSearchWrapper {
  svg {
    left: 55px;
  }
  input {
    padding: 6px 20px 6px 60px;
  }
}

