.searchElement {
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	a {
		color: #000000;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 5px;
		display: inline-block;
		transition: all 0.3s;
		font-family: 'PT Sans', sans-serif;
		&:hover {
			color: #dd0a15;
		}
	}

	p {
		font-size: 16px;
	}
}
