.objEventsSection {
  padding-top: 40px;
}

.objEventsSlider {
  position: relative;
}

.objEventSlide {
  padding-bottom: 10px;
}

.objEventCard {
  min-height: 440px;
  h6 {
    font-size: 23px;
  }
  :global {
    .event-card-content {
      padding: 20px 15px;
    }
  }
}