@import "src/assets/styles/vars";

.posterSection {
  padding: 60px 0 65px;
}

.posterSlider {
  max-width: 1220px;
}

.slideItem {
  border-radius: 10px;
  height: 396px;
  position: relative;
  display: flex;
  flex-direction: column;
  .slideItemImg {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      border-radius: 0 0 10px 10px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

}


.slideInfo{
  padding: 0 33px 38px;
  z-index: 10;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  h5 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
  }
}

.slideInfoTitle {
  ul {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    li {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 20px;
      border: 1px solid #ffffff;
      border-radius: 5px;
    }
  }
}
