.posterSection {
  padding: 5px 0 93px;

  @media (max-width: 768px) {
    padding: 5px 0 55px;
  }

  .posterSliderBtns {
    @media (max-width: 768px) {
      top: 43%;
      width: 93%;
    }
  }
}

.posterSlider {
  max-width: 1920px;
}

.slideItem {
  height: 646px;
  position: relative;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    height: 500px;
  }
  .slideItemImg {
    position: absolute;
    inset: 0;
    @media (max-width: 768px) {
      border-radius: 5px;
    }
    img {
      @media (max-width: 768px) {
        border-radius: 5px;
      }
      width: 100%;
      height: 100%;
    }
  }
}


.slideInfo{
  padding: 0 33px 40px;
  z-index: 10;
  margin-top: auto;
  gap: 10px;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    padding: 0 10px 40px;
  }
  h5 {
    color: #ffffff;
    font-size: 50px;
    background: #DD0A15;
    line-height: 1.1;
    display: inline-block;
    padding: 10px 21px;
    border-radius: 5px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 30px;
      padding: 4px 10px;
      line-height: 1.3;
    }
  }
}

.slideInfoTitle {
  ul {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
    li {
      color: #ffffff;
      font-size: 24px;
      padding: 3px 10px;
      border-radius: 5px;
      background: #DD0A15;
      @media (max-width: 768px) {
        font-size: 15px;
        padding: 5px 10px;
        line-height: 1.15;
      }
    }
  }
}

