.eventDetailsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

div.eventDetailsContent {
  flex-grow: 1;
  overflow-x: auto;
  @media (max-width: 768px) {
    margin: 0 0 20px 0;
  }

  h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  section {
    padding: 30px 0 30px;
    border-bottom: 7px solid #F2F5F8;

    &:first-child {
      padding: 20px 0 30px;
    }

    &:last-of-type {
      border: none;
    }
  }
}

.eventTabs {
  padding-top: 25px;
  border-top: 7px solid #F2F5F8;

  li a {
    text-transform: lowercase;
  }
}

.eventTabContent {
  display: flex;
  flex-direction: column;
  min-height: 770px;
}

a.allEventsLink {
  color: #015DB9;
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
  display: block;
  padding-top: 30px;
  border-top: 7px solid #F2F5F8;
}