@import "src/assets/styles/vars";

.userInfoWrapper {
  margin-bottom: 45px;
  h2 {
    margin-bottom: 10px;
  }

}

.userInfoStatuses {
  margin-bottom: 25px;
  display: flex;
  gap: 10px;

  span {
    @include ptsans-italic;
    font-size: 16px;
    line-height: 1.12;
  }
}

.mainInfo {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.infoBlock {
  flex-grow: 1;
}

.avatarWrapper {
  width: 132px;
  height: 164px;
  min-width: 132px;
  border: 7px solid #EBEEF2;
  img {
    width: 100%;
    height: 100%;
  }
}

.phoneWrapper {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    li:not(:last-child) {
      position: relative;
      &::after {
        content: ',';
        position: absolute;
        right: -3px;
        bottom: 0;
      }
    }
  }
}