@import "src/assets/styles/vars";

.feedbackAddress {
  min-width: 580px;
  width: 580px;
  @media (max-width: 1024px) {
    min-width: 100%;
    width: 100%;
  }
}

.feedbackSocials {
  svg rect {
    fill: #DE0008;
  }
}

.feedbackSocialsTitle {
  @include ptsans-italic;
  font-size: 20px;
  margin-bottom: 10px;
}

.contactsList {
  margin: 30px 0 37px;
  li {
    display: flex;
    align-items: center;
    font-size: 20px;


    &:not(:last-child) {
      margin-bottom: 13px;
    }

    svg {
      margin-right: 15px;
    }

    a {
      @include ptsans-bold;
      color: #025DB9;
      font-size: 20px;
    }
  }
}

.feedbackSelectRegion {
  margin-bottom: 20px;
}