@import "src/assets/styles/vars";


.newsSection {
  padding-bottom: 80px;

  h4 {
    margin-bottom: 0;
  }
}

.newsList {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  li {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    width: 286px;
    max-width: 286px;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      .newsItemContent {
        p, h6 {
          color: #ffffff;
        }
        background: #ffffff url('data:image/svg+xml,<svg width="286" height="408" viewBox="0 0 286 408" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_85_541)"><rect width="286" height="408" rx="5" fill="white"/><rect width="296" height="408" fill="%2300B440"/><g opacity="0.5"><path d="M380.297 287.088L380.301 287.091C408.859 305.944 429.532 331.811 442.423 360.905C415.499 314.205 367.244 280.969 309.637 275.334C214.943 266.071 130.045 338.437 121.057 430.32C112.391 518.905 172.252 598.116 257.431 615.841C229.858 613.037 202.547 603.892 178.117 587.483C97.0266 532.793 76.5965 421.249 132.193 338.212C188.246 255.339 299.206 232.399 380.297 287.088Z" fill="%23008831" stroke="%23008831"/><path d="M261.527 298.87L261.525 298.871C198.831 311.178 152.19 359.189 138.244 417.481C149.598 352.175 199.153 297.906 266.753 284.624C354.875 267.678 440.676 326.381 458.138 416.476C475.6 506.574 418.445 593.362 330.291 610.66C301.351 616.078 272.703 613.396 246.631 604.223C270.208 611.284 295.895 612.863 321.741 607.95L321.742 607.95C407.175 591.407 462.68 508.736 446.144 423.29C429.608 337.841 346.956 282.328 261.527 298.87Z" fill="%23008831" stroke="%23008831"/><mask id="path-5-inside-1_85_541" fill="white"><path d="M380.206 374.111C437.055 412.389 451.96 489.439 413.798 546.296C375.473 603.611 298.42 618.514 241.454 580.225C184.604 541.947 169.699 464.898 207.861 408.04C246.141 351.193 323.239 335.822 380.089 374.1M192.036 392.318C149.209 455.807 165.958 541.777 229.567 584.613C293.093 627.088 379.078 610.223 421.871 547.086C464.698 483.598 447.949 397.628 384.34 354.791C320.848 311.966 234.874 328.713 192.036 392.318Z"/></mask><path d="M380.206 374.111C437.055 412.389 451.96 489.439 413.798 546.296C375.473 603.611 298.42 618.514 241.454 580.225C184.604 541.947 169.699 464.898 207.861 408.04C246.141 351.193 323.239 335.822 380.089 374.1M192.036 392.318C149.209 455.807 165.958 541.777 229.567 584.613C293.093 627.088 379.078 610.223 421.871 547.086C464.698 483.598 447.949 397.628 384.34 354.791C320.848 311.966 234.874 328.713 192.036 392.318Z" fill="%23008831"/><path d="M413.798 546.296L412.968 545.739L412.967 545.741L413.798 546.296ZM241.454 580.225L240.895 581.054L240.896 581.055L241.454 580.225ZM207.861 408.04L207.032 407.481L207.031 407.483L207.861 408.04ZM192.036 392.318L192.865 392.878L192.865 392.877L192.036 392.318ZM229.567 584.613L229.008 585.443L229.011 585.445L229.567 584.613ZM421.871 547.086L422.699 547.647L422.7 547.645L421.871 547.086ZM384.34 354.791L383.781 355.62L383.781 355.621L384.34 354.791ZM379.647 374.941C436.037 412.909 450.824 489.337 412.968 545.739L414.628 546.854C453.097 489.54 438.073 411.869 380.764 373.282L379.647 374.941ZM412.967 545.741C374.951 602.593 298.521 617.377 242.011 579.395L240.896 581.055C298.319 619.651 375.995 604.629 414.629 546.852L412.967 545.741ZM242.012 579.395C185.622 541.427 170.835 464.999 208.692 408.597L207.031 407.483C168.563 464.796 183.586 542.467 240.895 581.054L242.012 579.395ZM208.691 408.598C246.664 352.206 323.143 336.962 379.53 374.929L380.647 373.27C323.336 334.681 245.617 350.181 207.032 407.481L208.691 408.598ZM191.207 391.759C148.071 455.706 164.942 542.298 229.008 585.443L230.125 583.784C166.975 541.255 150.347 455.907 192.865 392.878L191.207 391.759ZM229.011 585.445C292.994 628.225 379.598 611.239 422.699 547.647L421.043 546.525C378.559 609.207 293.192 625.951 230.123 583.782L229.011 585.445ZM422.7 547.645C465.836 483.698 448.965 397.107 384.898 353.962L383.781 355.621C446.932 398.149 463.559 483.497 421.042 546.527L422.7 547.645ZM384.899 353.962C320.949 310.827 234.353 327.697 191.207 391.76L192.865 392.877C235.395 329.73 320.747 313.104 383.781 355.62L384.899 353.962Z" fill="%23008831" mask="url(%23path-5-inside-1_85_541)"/><path d="M350.097 314.44L350.097 314.44C429.012 339.003 473.273 423.076 448.73 501.947C444.391 515.357 438.77 527.766 431.532 538.848C433.826 533.859 435.852 528.644 437.486 523.148C462.388 441.755 416.337 355.445 333.906 329.954C289.692 316.19 244.01 323.008 207.242 344.725C245.039 311.841 298.63 298.378 350.097 314.44Z" fill="%23008831" stroke="%23008831"/></g></g><defs><clipPath id="clip0_85_541"><rect width="286" height="408" rx="5" fill="white"/></clipPath></defs></svg>') no-repeat left -160px;
      }
    }
  }
}

.newsImgWrapper {
  width: 100%;
  height: 160px;
  border-radius: 5px 5px 0 0;

  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
  }
}

.newsItemContent {
  padding: 20px 18px 40px;
  height: 100%;
  transition: all .3s;

  p {
    font-size: 15px;
    line-height: 1.45;
  }

  h6 {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.newsDate {
  color: #ACACAC;
  margin-bottom: 16px;
}