.newsList {
  margin-bottom: 20px;
}

.newsTitleBlock {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 25px;

  h2 {
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 25px;
  }
}

select.newsYearsSelect {
  padding: 6px 46px 6px 7px;
}