.newsList {
  margin-bottom: 20px;
}

.newsTitleBlock {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    margin-bottom: 0;
    line-height: 1.2;
    margin-right: 15px;
    font-size: 25px;
  }
}

select.newsSelect {
  font-family: 'PT Sans', sans-serif;
  padding: 6px 20px 6px 7px;
  width: 109px;
}