.contactsBlock {
  margin-bottom: 28px;
  @media (max-width: 768px) {
    margin-bottom: 31px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 3px;
    line-height: 1.1;
    @media (max-width: 768px) {
      margin-bottom: 6px;
      line-height: 1.15;
    }
  }

  a {
    color: #DD0A15;
  }
}

.contactsLinks {
  display: flex;
  flex-direction: column;
  gap: 25px;
}