.contactsBlock {
  margin-bottom: 28px;
  font-family: 'PT Sans', sans-serif;

  h4 {
    margin-bottom: 7px;
  }

  a {
    color: #015DB9;
  }
}

.contactsLinks {
  display: flex;
  flex-direction: column;
  gap: 25px;
}