
.aboutContentWrapper {
  display: flex;
  gap: 35px;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

.aboutSideMenu {
  padding-top: 30px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    padding-top: 30px;
    margin-bottom: 15px;
  }
}