.aboutContainer {
  display: flex;
  gap: 35px;
  flex-direction: row-reverse;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
  .aboutContentWrapper {
    @media (max-width: 768px) {
      min-height: auto;
      margin: 0 0 45px 0;
    }
  }
}

.aboutSideMenu {
  padding-top: 30px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}