.partnersSection {
  padding: 80px 0 84px;
  @media (max-width: 768px) {
    padding: 45px 0 50px;
  }
  .partnersTop {
    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }
}

.partnersList {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
  }

  li {
    border-radius: 5px;
    width: 188px;
    height: 105px;

    a {
      width: 100%;
      height: 100%;

      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }

    }
  }
}