.regionInfoPage {
  padding-top: 30px;
  section {
    &:not(:last-child) {
      padding-bottom: 25px;
      border-bottom: 7px solid #F2F5F8;
      margin-bottom: 30px;
    }
  }
}

.descList {
  p {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}