@import "src/assets/styles/vars";

.pageContent {
  flex-grow: 1;

  h2 {
    color: #000;
    @include ptsans-bold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  h4 {
    color: #000;
    @include ptsans-bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  a {
    color: #015DB9;
    @include ptsans-regular;
    font-size: 16px;
    line-height: 1.28;
  }

  figure, blockquote {
    margin: 0;
  }
}