.aboutCulturePage {
  p {
    line-height: 1.3;
    @media (max-width: 768px) {
      line-height: 1.46;
    }
  }
}

.galleryPhotos {
  margin: 20px 0 20px;
  @media (max-width: 340px) {
    max-height: 210px;
  }
  ul {
    justify-items: start;
    gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));

    li {
      & > div {
        height: 127px;
      }
      h6 {
        margin-top: 5px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}
