@import "src/assets/styles/vars";

.gallerySection {
  margin-bottom: 30px;
}

.galleryPhotos {
  ul {
    justify-items: start;
    gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));
    li {
      & > div {
        height: 127px;
      }
      h6 {
        margin-top: 5px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}