.userDetailsContent {
  h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .usersListLink {
    color: #015DB9;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    display: block;
  }
  section {
    padding: 30px 0 20px;
    border-top: 7px solid #F2F5F8;
    &:last-child {
      border-bottom: 7px solid #F2F5F8;
    }
  }
}

.userTabs {
  li a {
    text-transform: lowercase;
  }
}