.eventsSection {
  padding-bottom: 51px;
}

.allEventsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  background: #025DB9;
  height: 50px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}