.contactMap {
    background-image: url('src/assets/img/contact-map.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 580px;
    height: 364px;
    @media (max-width: 768px) {
        width: 420px;
        height: 280px;
    }
    @media (max-width: 576px) {
        width: 310px;
        height: 210px;
    }
}