
.documents {
  max-width: 203px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  li {
    line-height: 1.2;
    font-size: 14px;
  }

  .documentLink {
    color: #DE0008;
    line-height: 1.25;
  }

  .documentInfo {
    color: #9D9D9D;
    font-size: 14px;
  }
}