.aboutDepartmentContainer {
    a {
        display: inline-block;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 15px;
    }
}

.image {
    margin: 0 0 28px;
    padding-top: 15px;
    max-width: 500px;
    @media (max-width: 768px) {
        max-width: 100%;
    }
    img {
        max-height: 300px;
    }

    figcaption {
        margin-bottom: 30px;
        padding-top: 3px;
        color: #9D9D9D;

        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
    }
}