.objectPreviewSection {
  padding: 90px 0 100px;
  @media (max-width: 768px) {
    padding: 50px 0 60px;
  }
  .objectSliderBtns {
    @media (max-width: 768px) {
      width: 95%;
    }
  }
}

.objPreview {
  display: flex;
  max-height: 550px;
  @media (max-width: 768px) {
    flex-direction: column;
    max-height: max-content;
  }
}


.objLocation {
  flex-grow: 1;
  border: 1px solid #DD0A15;
  border-radius: 25px 0 0 25px;
  @media (max-width: 768px) {
    border-radius: 5px 5px 0 0;
    height: 300px;
  }

  iframe {
    border: none;
    border-radius: 25px 0 0 25px;
    @media (max-width: 768px) {
      border-radius: 5px 5px 0 0;
    }
  }
}


.objInfo {
  background: #ffffff;
  min-width: 490px;
  width: 490px;
  padding: 30px 50px 30px 40px;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    min-width: 100%;
    width: 100%;
    border-radius: 0;
    padding-right: 35px;
  }

  .objLogo {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    margin-bottom: 27px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  h6 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 19px;
    line-height: 1.2;
  }

  .objAddress {
    padding-left: 30px;
    position: relative;
    max-width: 375px;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.668842 8.65629L8.10008 9.22878L8.68433 16.4635C8.74293 17.192 9.75909 17.366 10.0694 16.7005L17.3276 1.1144C17.5865 0.558757 17 -0.0131911 16.4292 0.239075L0.426658 7.30742C-0.256366 7.60916 -0.0783557 8.5992 0.6694 8.65683L0.668842 8.65629Z" fill="%23D5D5D5"/></svg>') no-repeat;
      width: 18px;
      height: 18px;
    }

    span {
      display: block;
      font-size: 15px;
    }
  }

  .objDesc {
    line-height: 1.2;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 88px;
    -webkit-line-clamp: 4;
    @media (max-width: 768px) {
      max-height: max-content;
    }
  }

}