.videosTitleBlock {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;

  h2 {
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 25px;
    margin-right: 15px;
  }
}

select.newsDateSelect {
  padding: 6px 15px 6px 7px;
  width: 109px;
  font-family: 'PT Sans', sans-serif;
}

.groupTabNewsVideos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.newsVideosPagination {
  margin-top: 50px;
}