@import "src/assets/styles/vars";


.breadCrumbsList {
  padding: 35px 0 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  li {
    max-width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    color: #DE0008;
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  span {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

}

