.footer {
  background-color: #fff;
  padding-bottom: 60px;
}

.footerTop {
  padding-top: 37px;
  padding-bottom: 35px;
  border-bottom: 1px solid #E1E1E1;

  a {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 97px;
  padding: 45px 0 60px;
  @media (max-width: 1280px) {
    gap: 30px;
  }
}

.footerContentItem {
  h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
  }

  p {
    font-size: 16px;
    font-weight: 700;
  }
}

.footerSocials {
  margin-left: auto;
  @media (max-width: 1280px) {
    margin-left: 0;
  }
}

.footerDesc {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;

  p {
    font-size: 14px;
    font-weight: 400;
    color: #626262;
  }
}

.footerCertificate {
  font-size: 10px;
  color: #626262;
  max-width: 650px;
  line-height: 1.2;
}