.departmentTable {
  grid-template-columns: minmax(40px, 0.1fr) minmax(270px, 2.5fr) minmax(120px, 0.4fr);
  margin-bottom: 20px;
  td {
    padding: 14px 0;
    height: 98px;
  }
  td:nth-child(2) {
    img {
      max-width: 68px;
    }
  }
  td:nth-child(3) {

  }
}

.departmentsSearchWrapper {
  svg {
    left: 20px;

  }
  input {
    padding: 6px 20px 6px 25px;
  }
}
