.logoWrapper {
	width: 376px;
	min-width: 376px;
	height: 100px;
	@media (max-width: 768px) {
		min-width: 225px;
		width: 225px;
		height: 60px;
	}

	img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}

.topMainNavWrapper {
	padding: 30px 0;
	background-color: #fff;
	@media (max-width: 768px) {
		padding: 15px 0;
	}
}

.topMainNav {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	@media (max-width: 768px) {
		gap: 15px;
		height: auto;
		flex-wrap: wrap;
	}
}

.personMenu {
	margin-left: auto;
	height: 40px;
	width: 40px;
	min-width: 40px;
	@media (max-width: 768px) {
		height: 32px;
		width: 32px;
		min-width: 32px;
		svg {
			width: 32px;
			height: 32px;
		}
	}
}

.menuWrapper {
	background: #dd0a15;
	padding: 13px 0;
	@media (max-width: 768px) {
		padding: 16px 0;
	}
}

.menuContainer {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1024px) {
		gap: 15px;
	}
}

.searchLink {
	height: 30px;
	@media (max-width: 768px) {
		height: 24px;
	}

	svg {
		height: 30px;
		width: 30px;
		min-width: 30px;
		@media (max-width: 768px) {
			height: 24px;
			width: 24px;
			min-width: 24px;
		}
	}
}
