.objectHeader {
  h2 {
    margin-bottom: 30px;
  }
}

.objectInfoWrapper {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .logoContainer {
    min-width: 220px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.objectMainInfo {
  flex-grow: 1;
}

.phoneTitle, .mailTitle, .addressTitle, .tgTitle, .vkTitle {
  padding-left: 37px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.phoneTitle {
  &::before {
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="25" height="25" rx="3" fill="%23E30613"/><path d="M19.5722 15.5995L16.2909 14.1932C16.1507 14.1335 15.9949 14.1209 15.847 14.1573C15.699 14.1938 15.5669 14.2773 15.4705 14.3954L14.0174 16.1708C11.7368 15.0955 9.90149 13.2602 8.82622 10.9796L10.6016 9.52645C10.7197 9.43008 10.8032 9.29798 10.8397 9.15004C10.8761 9.00209 10.8635 8.8463 10.8038 8.70613L9.39752 5.42484C9.33163 5.27378 9.2151 5.15045 9.06803 5.07611C8.92095 5.00177 8.75254 4.98108 8.59184 5.01761L5.54493 5.72074C5.39 5.75652 5.25176 5.84375 5.1528 5.96821C5.05383 6.09266 4.99996 6.24699 5 6.406C5 13.9207 11.0909 19.9999 18.5939 19.9999C18.753 20 18.9074 19.9462 19.0319 19.8472C19.1564 19.7482 19.2437 19.61 19.2795 19.455L19.9826 16.4081C20.019 16.2466 19.9979 16.0776 19.9231 15.93C19.8482 15.7824 19.7242 15.6655 19.5724 15.5995H19.5722Z" fill="white"/></svg>') no-repeat;
  }
}
.mailTitle {
  &::before {
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="25" height="25" rx="3" fill="%23E30613"/><path d="M12.5 15.9992C11.3 15.9992 10.1 14.9492 9.5 14.4992C6.5 12.3992 5.6 11.6492 5 11.1992V17.4992C5 17.897 5.15804 18.2786 5.43934 18.5599C5.72064 18.8412 6.10218 18.9992 6.5 18.9992H18.5C18.8978 18.9992 19.2794 18.8412 19.5607 18.5599C19.842 18.2786 20 17.897 20 17.4992V11.1992C19.4 11.6492 18.5 12.3992 15.5 14.4992C14.9 14.9492 13.7 15.9992 12.5 15.9992Z" fill="white"/><path d="M18.5 7H6.5C6.10218 7 5.72064 7.15804 5.43934 7.43934C5.15804 7.72064 5 8.10218 5 8.5V9.25C6.2 10.15 6.05 10.15 10.4 13.3C10.85 13.6 11.75 14.5 12.5 14.5C13.25 14.5 14.15 13.6 14.6 13.45C18.95 10.3 18.8 10.3 20 9.4V8.5C20 8.10218 19.842 7.72064 19.5607 7.43934C19.2794 7.15804 18.8978 7 18.5 7Z" fill="white"/></svg>') no-repeat;
  }
}
.addressTitle {
  &::before {
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="25" height="25" rx="3" fill="%23E30613"/><path d="M12.6667 5C9.53819 5 7 7.51953 7 10.625C7 12.8929 7.79688 13.5254 12.0844 19.6974C12.1495 19.7908 12.2366 19.8671 12.338 19.9199C12.4394 19.9726 12.5522 20.0002 12.6667 20.0002C12.7812 20.0002 12.8939 19.9726 12.9953 19.9199C13.0968 19.8671 13.1838 19.7908 13.249 19.6974C17.5365 13.5254 18.3333 12.8929 18.3333 10.625C18.3333 7.51953 15.7951 5 12.6667 5ZM12.6667 12.9688C12.1997 12.9688 11.7432 12.8313 11.3549 12.5738C10.9666 12.3162 10.664 11.9502 10.4853 11.5219C10.3066 11.0937 10.2598 10.6224 10.3509 10.1678C10.442 9.71311 10.6669 9.2955 10.9971 8.96772C11.3273 8.63994 11.748 8.41672 12.206 8.32628C12.664 8.23585 13.1388 8.28226 13.5702 8.45966C14.0017 8.63705 14.3704 8.93745 14.6299 9.32288C14.8893 9.70831 15.0278 10.1615 15.0278 10.625C15.0278 11.2466 14.779 11.8427 14.3362 12.2823C13.8934 12.7218 13.2929 12.9688 12.6667 12.9688Z" fill="white"/></svg>') no-repeat;
  }
}
.tgTitle {
  &::before {
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="25" height="25" rx="3" fill="%23E30613"/><path d="M5.68795 12.4038C9.34179 10.7692 11.7457 9.80762 12.9957 9.2307C16.4573 7.78839 17.2264 7.5 17.611 7.5C17.7072 7.5 17.8995 7.49995 18.0918 7.69226C18.188 7.78841 18.2842 7.98075 18.2842 8.0769C18.2842 8.17305 18.2842 8.36536 18.2842 8.55767C18.0919 10.5769 17.3227 15.2884 16.8419 17.4999C16.6496 18.4614 16.3611 18.75 15.9765 18.75C15.2072 18.8461 14.7265 18.2692 13.9573 17.7884C12.8996 17.0192 12.2265 16.6345 11.1688 15.9615C9.91879 15.1922 10.6879 14.7115 11.4572 13.9423C11.6495 13.75 14.8227 10.8653 14.9188 10.5769C14.9188 10.5769 14.9187 10.3846 14.8226 10.3846C14.7264 10.2885 14.6303 10.3846 14.5342 10.3846C14.438 10.3846 12.7072 11.5384 9.24571 13.8461C8.76494 14.2307 8.28415 14.3269 7.89953 14.3269C7.41876 14.3269 6.55338 14.0384 5.97646 13.8461C5.20723 13.5577 4.53413 13.4615 4.63028 12.9807C4.82259 12.7884 5.11103 12.5961 5.68795 12.4038Z" fill="white"/></svg>') no-repeat;
  }
}
.vkTitle {
  &::before {
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="25" height="25" rx="3" fill="%23E30613"/><path d="M13.2674 17.6937C7.59435 17.6937 4.32512 13.7514 4.13281 7.21289H7.01743C7.11358 12.0206 9.22897 14.0398 10.8636 14.4244V7.21289H13.5559V11.3476C15.1906 11.1552 16.9213 9.32828 17.4982 7.21289H20.1906C19.7098 9.80904 17.8828 11.636 16.5367 12.4052C17.8828 13.0783 19.9982 14.7129 20.8636 17.5976H17.8829C17.2098 15.5783 15.6713 14.0398 13.5559 13.8475V17.5976H13.2674V17.6937Z" fill="white"/></svg>') no-repeat;
  }
}