.brandDetailsContent {
  h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  section {
    padding: 30px 0 30px;
    border-bottom: 7px solid #F2F5F8;
    &:first-child {
      padding: 20px 0 30px;
    }
    &:last-of-type {
      border: none;
    }
  }
}

.brandTabs {
  padding-top: 25px;
  border-top: 7px solid #F2F5F8;
  li a {
    text-transform: lowercase;
  }
}

.brandTabContent {
  display: flex;
  flex-direction: column;
  min-height: 770px;
}

a.brandsListLink {
  color: #015DB9;
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
  display: block;
  padding-top: 30px;
  border-top: 7px solid #F2F5F8;
}