section.groupEventsSection {
  padding: 0;
}

.groupEventsList {
  margin: 0 0 25px;
  & > ul {
    & > li {
      gap: 50px;
      @media (max-width: 1024px) {
        gap: 20px;
      }
    }
  }
}

a.allEventsLink {
  border: none;
  font-weight: 700;
}