@import "src/assets/styles/vars";

.eventItem {
  border-radius: 10px;
  border: 2px solid #E1E0E8;
  transition: all .3s;
  cursor: pointer;
  min-height: 300px;
  background: #ffffff no-repeat 620% 50%;
  @media (max-width: 576px) {
    min-height: auto;
  }

  &:hover {
    border-color: #025DB9;
    box-shadow: 0 4px 50px 0 rgba(2, 93, 185, 0.50);
    &.rus {
      background-image: url("src/assets/img/event-rus-hover.png");
    }
    &.bur {
      background-image: url("src/assets/img/event-bur-hover.png");
      background-position: 600% 50%;
      background-size: 90%;
    }
  }

  a {
    display: block;
    height: 100%;
    padding: 23px 21px 15px 23px;

    h4 {
      color: #000;
      @include ptsans-bold;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 13px;
      line-height: 1.25;
    }
  }


  span {
    color: #9D9D9D;
    margin-bottom: 15px;
    display: block;
  }

  p {
    color: #000000;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    height: 154px;
  }


  &._main {
    border: none;
    grid-area: 1 / 1 / 2 / 3;


    &.rus {
      background: #DE0008 url("src/assets/img/main-event-rus-bg.png") no-repeat 123% 50%;
    }

    @media (max-width: 576px) {
      grid-area: 1 / 1 / 1 / 1;
    }


    h4 {
      color: #ffffff;
      font-size: 28px;
      max-width: 280px;
      margin-bottom: 19px;
    }

    a {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }

    span {
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 40px;
    }

    p {
      color: #ffffff;
      max-width: 370px;
      margin-top: auto;
      height: auto;
    }
  }
}