section.userGallery {
  padding: 25px 0 15px;
  border-bottom: 7px solid #F2F5F8;
  h4 {
    font-size: 16px;
  }
}

.galleryHeader {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
  .galleryLengthInfo {
    font-size: 16px;
    margin: 0;
  }
}

.allAlbumsLink {
  color: #015DB9;
  font-size: 16px;
}

.userPhotos {
  margin-bottom: 20px;
}