@import "src/assets/styles/vars";

.eventItem {
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: all .3s;
  cursor: pointer;
  min-height: 450px;
  max-width: 330px;
  @media (max-width: 550px) {
    max-width: 100%;
  }

  a {
    display: block;
    height: 100%;
  }

  :global {
    .event-item-img {
      position: relative;
      border-radius: 5px;
      width: 100%;
      height: 203px;
      overflow: hidden;

      img {
        max-height: 100%;
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 5px;
      }

      span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 15px;
        text-align: center;
        color: #8D8D8D;
        padding: 3px 10px;
        background: #ffffff;
        border-radius: 3px;
      }
    }
  }
}

.eventContent {
  padding: 20px;
  color: #000000;

  h6 {
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    margin-bottom: 23px;
    line-height: 1.25;
  }
}

.eventDate, .eventLocations span:first-child {
  font-size: 15px;
  padding-left: 28px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 16px;
    left: 0;
    top: 0;
  }
}

.eventDate {
  margin-bottom: 6px;

  &::before {
    background: url('data:image/svg+xml,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.2125 2.39596H13.2675V0.770506C13.2674 0.566196 13.1841 0.370293 13.0359 0.225823C12.8877 0.0813542 12.6867 0.000133145 12.4772 0C12.2675 -4.34305e-08 12.0664 0.0811618 11.9181 0.225645C11.7698 0.370129 11.6864 0.566109 11.6863 0.770506V2.39596H5.01798V0.770506C5.01784 0.566196 4.93453 0.370293 4.78634 0.225823C4.63815 0.0813542 4.4372 0.000133145 4.22762 0C4.01796 -4.34305e-08 3.81687 0.0811618 3.66857 0.225645C3.52027 0.370129 3.43689 0.566109 3.43675 0.770506V2.39596H2.49172C1.83087 2.39596 1.19709 2.65189 0.729807 3.10744C0.262519 3.56299 0 4.18085 0 4.82509V5.5956H16.7043V4.82509C16.7043 4.50609 16.6398 4.19022 16.5146 3.8955C16.3894 3.60079 16.2058 3.333 15.9745 3.10744C15.7431 2.88187 15.4684 2.70294 15.1661 2.58086C14.8638 2.45879 14.5398 2.39596 14.2125 2.39596Z" fill="%23D5D5D5"/><path d="M0 13.5708C0 14.215 0.262519 14.8329 0.729807 15.2884C1.19709 15.744 1.83087 15.9999 2.49172 15.9999H14.2125C14.8734 15.9999 15.5072 15.744 15.9745 15.2884C16.4417 14.8329 16.7043 14.215 16.7043 13.5708V7.30469H0V13.5708Z" fill="%23D5D5D5"/></svg>') no-repeat;
  }
}

.eventLocations {
  span:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: max-content;
    display: block;
    margin-bottom: 3px;

    &::before {
      top: 2px;
      background: url('data:image/svg+xml,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.63161 8.00658L7.64918 8.54721L8.20091 15.3792C8.25624 16.0672 9.21584 16.2315 9.50883 15.603L16.363 0.884521C16.6076 0.359813 16.0537 -0.180297 15.5146 0.0579261L0.402908 6.73281C-0.242095 7.01775 -0.0739939 7.95268 0.632137 8.0071L0.63161 8.00658Z" fill="%23D5D5D5"/></svg>') no-repeat;
    }
  }

  span:last-child {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.eventDesc {
  font-size: 18px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  max-height: 45px;
  height: 45px;
}