.blockquoteSection {
	display: flex;
	gap: 40px;
	margin-bottom: 53px;

	@media (max-width: 950px) {
		flex-direction: column;
		margin-bottom: 30px;
		gap: 10px;
	}

	blockquote {
		margin: 0;
	}

	.blockquoteRight {
		display: flex;
		flex-direction: column;
		gap: 10px;
		p {
			font-size: 16px;
			line-height: 1.45;
			@media (max-width: 768px) {
				line-height: 1.25;
			}
			&:not(:last-child) {
				margin-bottom: 3px;
				@media (max-width: 768px) {
					margin-bottom: 20px;
				}
			}
		}
	}

	footer {
		color: #9d9d9d;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		margin-top: auto;
	}
}

.blockquoteImg {
	width: 190px;
	min-width: 190px;
	height: 127px;
	border-radius: 5px;
	img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	@media (max-width: 950px) {
		width: auto;
		height: auto;
	}
}
