.feedbackSection {
  background-color: #fff;
  padding: 47px 0 35px;
  h4.feedbackTitle {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
}



.feedbackDesc {
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 35px;
}
.feedbackContent {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 30px;
  }
}

