.monthSlide {
  p {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    font-weight: 700;
    background: #E7E7E7;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }
}