@import "src/assets/styles/vars";

.menuList {
  @media (max-width: 768px) {
    display: none;
  }

  display: flex;
  gap: 65px;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: 1280px) {
    max-width: 50%;
    gap: 15px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
    flex-direction: column;
  }
}

.menuItem {
  a {
    color: #FFFFFF;
    transition: all .3s;
    font-size: 25px;
    &:hover {
      color: #c0c0c0;
    }
  }
}

