section.videotapeSection {
	padding: 85px 0 95px;
	@media (max-width: 768px) {
		padding: 45px 0 40px;
	}
	h4 {
		@media (max-width: 550px) {
			margin-bottom: 1px;
		}
	}
	.videotapeTop {
		@media (max-width: 550px) {
			margin-bottom: 17px;
		}
	}
}
