.newsContainer {
	.newsItemPage {
		display: flex;
		gap: 60px;
		justify-content: space-between;
		@media (max-width: 1200px) {
			flex-direction: column;
      gap: 0;
		}

		.newsListPage {
			h2 {
				margin-bottom: 25px;
			}
      @media (max-width: 1200px) {
        min-height: auto;
        margin: 0;
      }

			.newsItemPageContent {
				max-width: 1125px;
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				@media (max-width: 768px) {
					margin-bottom: 0;
				}

				h2 {
					line-height: 1.1;
					margin-bottom: 35px;
					@media (max-width: 768px) {
						margin-bottom: 20px;
					}
				}
			}
		}

    .asideNewsDetails {
			padding: 45px 0 0 0;
      @media (max-width: 1200px) {
        padding: 30px 15px 30px 15px;
      }
    }

		.newsItemDate {
			color: #de0008;
			display: block;
			margin-bottom: 30px;
			font-size: 22px;
		}

		.newsItemMainImg {
			width: 100%;
			height: 492px;
			margin-bottom: 30px;
			@media (max-width: 768px) {
				height: 173px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 15px;
			}
		}

		.newsDescs {
			p {
				font-size: 22px;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}

		.newsGallery {
			margin-top: 40px;
			margin-bottom: 40px;
			gap: 15px;
			grid-template-columns: repeat(auto-fit, minmax(217px, 217px));
			li {
				width: 217px;
				max-width: 217px;
				& > div {
					border: none;
					height: 156px;
				}
			}
		}

		.slider {
			margin: 40px 0;
			position: relative;
			.newsSliderBtns {
				opacity: 1;
				visibility: visible;
				svg {
					width: 28px;
					height: 40px;
				}
			}
			.noBtns {
				opacity: 0;
				visibility: hidden;
			}
			.slideItem {
				h6 {
					font-size: 18px;
					font-weight: 500;
					color: #9D9D9D;
				}
				.slideImg {
					height: 127px;
					border-radius: 5px;
					margin-bottom: 5px;
					@media (max-width: 768px) {
						height: 173px;
					}

					img {
						width: 100%;
						height: 100%;
						border-radius: 5px;
					}
				}
			}
		}

		.gallerySlider {
			margin: 30px 0 50px 0;
			.galleryBtns {
				@media (max-width: 768px) {
					top: 50%;
				}
			}
		}

		.allNewsBlock {
			margin-top: auto;
			padding-top: 30px;
			border-top: 7px solid #f2f5f8;

			a {
				font-size: 18px;
				color: #de0008;
				font-weight: 400;
			}
		}
	}
}
